img {
    display: block;
    max-width: 100%;
  }
  
  .wrapper {
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 20px;
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 80px;
  }
  
  .gallery {
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .gallery__img {
    scroll-snap-align: start;
    margin-bottom: -50px;
    min-height: 70vh;
    min-width: 1450px;
    object-fit: cover;
  }
  
  .lil-nav {
    overflow-y: scroll;
    overflow-x: hidden;
  
    a {
      height: 200px;
      display: flex;
      margin-bottom: 8px;
    }
  }
  
  .lil-nav__img {
    object-fit: cover;
    // filter: saturate(0);
    transition: 0.3s ease all;
  
    &:hover {
      transform: scale(1.05);
      filter: saturate(1);
    }
  }

  .recipe-box{
    position:relative;
    background: #000;
    p{
      position: absolute;
      top:80%;
      left:1em;
      color:white;
      font-size: 45px;
      font-family: 'EB Garamond', serif;
      opacity: 0.9;
      }
     
     img{
        opacity: 0.8;
      }
    .fa-heart {
      position:absolute;
      top: 2em;
      left: 85%;
      color:white;
    }

    fieldset {
      position:absolute;
      top: 6em;
      left: 70em;
      color:white;
    }
  }