*{
    box-sizing: border-box;
  }
  
  body{
    margin: 0;
    /* height: 100vh; */
    background-color: rgb(255, 255, 255);
  
  }
  
  #root{
  height: inherit;
  width: 100%;
  }
  main{
    height: 96%;
  }
  .title{
    color:rgb(58, 34, 78);
    font-family: 'Montserrat', serif;
    font-size: 52px;
    text-shadow: 4px 4px 4px #aaa;
    margin: 1rem 0 1rem 7rem;
  }
  .nav{
    background-color: rgb(0, 0, 0);
    color: white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    /* gap: 2rem; */
    padding: 0 2rem;
    height: 80px;
    /* position: fixed; */
  }
  
  .nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    /* display: flex; */
    gap: 2rem;
  }
  
  .nav i{
    font-size: 45px;
    color:#fff;
  }
  
  .nav a {
    color:inherit;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
  }
  
  .nav li {
    /* background-color: rgb(247, 247, 247); */
  }

  .registration{
    display:flex;
    justify-content:center;
    padding: 5rem;
    /* margin: 1rem; */
    background-image: url(https://img.freepik.com/free-photo/white-concrete-wall_53876-92803.jpg?w=1380&t=st=1666689000~exp=1666689600~hmac=6e4765e0b2243ab3191b5abe19985ee0fc6c4d72cd5114c9db7a93e748715774);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: inherit;
  }
  .container {
    width:100%;
    max-width: 35rem;
    /* background: rgba(141, 180, 78, 0.5); */
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
   }
  
   .form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: rgb(0, 0, 0) ;
    text-shadow: 4px 4px 4px #aaa;
    border-bottom: solid 1px rgb(0, 0, 0);
   }
  .main-user-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .user-input-box:nth-child(n){
    justify-content: start;
  } 
  .user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 1rem;
    color:black;
  } 
  .user-input-box label {
    width: 95%;
    color: rgb(0, 0, 0) ;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
  }
  
  .user-input-box input {
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline:none;
    border: 1px solid #aaa;
    padding: 0 10px;
  }
  .container-button{
    display:flex;
    justify-content: center;
    padding-right: 13px;
  }
  .form-submit-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 67%;
    font-size: 20px;
    padding: 10px;
    border:none;
    border-radius: 3px;
    color: rgb(209,209,209);
    background-color: rgba(0, 0, 0, 0.7);
  }
  .form-submit-btn:hover{
    background-color: rgba(45, 119, 26, 0.981);
    color: rgb(255, 255, 255);
  }
  
  a{
    text-decoration: none;
  }
  .show-field{
    display: flex;
    justify-content: space-around;
    margin:2rem;
  }
  .cards-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
  }
  .filters-side{
    max-width: 400px;

  }
  .card{
    border:solid #fff;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    margin:1rem;
    box-shadow: 0px 8px 24px rgba(149,157,165,0.5);
  }

  .card-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-bottom {
    display:flex;
    justify-content: space-between;
  }

  .card-bottom button {
    max-width: 80px;
    max-height: 40px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }
  .one-photo{
    max-width: 600px;
    max-height: 600px;
  }

  .two-in-row{
    display: flex;
    justify-content: space-around;


  }

  .two-in-row p{
    width:200px;
    border-bottom:solid black;
    border-width: 0.1em;
  }