.one-gallery {
    display: flex;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior:smooth;
    max-width: 89%;
    // overflow: hidden;
  }
  
  .one-gallery__img {
    scroll-snap-align: start;
    // margin-bottom: -50px;
    // min-height: 70vh;
    border-radius: 15px;
    min-height: 300px;
    min-width: 450px;
    max-width: 450px;
    max-height: 300px;
    object-fit: cover;
  }

  .one-recipe-box{
    position:relative;
    background: rgb(255, 255, 255);
    // background-color: white;
    // p{
    //   position: absolute;
    //   top:0.5em;
    //   left:1em;
    //   color:white;
    //   font-size: 45px;
    //   font-family: 'EB Garamond', serif;
    //   opacity: 0.9;
    //   }
     
     img{
        opacity: 2;
      }

  }
  .cooked-box{
    position:absolute;
    // display: flex;
    // justify-content: space-between;
    top: 1em;
    left: 2em;
    color:white;
  }
  .cooked-name{
    position: absolute;
    top: 8em;
    left:1em;
    color:white;
    font-size: 30px;
    font-family: 'EB Garamond', serif;
    opacity: 0.9;
  }
  .cooked-done{
    // position: absolute;
    // top:0.5em;
    // left:1em;
    color:white;
    font-size: 30px;
    font-family: 'EB Garamond', serif;
    opacity: 0.9;
  }
  // .cooked-icon{
  //   // position: absolute;
  //   top:0.5em;
  //   left:1em;
  // }